body {
  background-image: url('photo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.custom-modal .modal-dialog {
  max-width: 300px;
  margin: auto;
}

.custom-modal .modal-content {
  border-radius: 20px;
}

.custom-modal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.custom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Добавлено для улучшения видимости текста */
}

.footer-left,
.footer-right {
  color: white;
}

.btn-group {
  border: solid 1px #e9ecef;
  border-radius: 10px; /* Объединено с btn */
}

.btn-group .btn {
  border-radius: 10px;
}

.btn-group .btn-light {
  background-color: #e9ecef;
}

.btn-group .btn-white {
  background-color: white;
  border-color: lightgray;
}

.form-control {
  border-radius: 10px; /* Добавлено для полей ввода */
}
